seo_title:
seo_description:
title:
subtitle:
bg_class: no-header-image acid
logo: logoacid
nav_color: navacid
loader: true
footer: footeracid
{% extends "base.html" %}

{% block body %}


<div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <section class="element  clearfix col3-3 auto home">
        <div class="flexslider">
          <div class="images">
            <ul class="slides">
              <li><img src="/static/images/alfred_acid4.jpg" alt="" />
                <div class="caption">
                  <p class="big">1 <span>of</span> 3</p>
                </div>
              </li>
              <li><img src="/static/images/alfred_acid2.jpg" alt="" />
                <div class="caption">
                  <p class="big">2 <span>of</span> 3</p>
                </div>
              </li>
		<li><img src="/static/images/alfred_acid3.jpg" alt="" />
                <div class="caption">
                  <p class="big">3 <span>of</span> 3</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col3-3 white-bottom auto">
          <div class="clear"></div>
          <div class="column1">
	<div class="images">
           <img src="/static/images/acidomatic_logo.svg" alt="" /> </div>
	<div class="images">
           <img src="/static/images/stickers_acid.svg" alt="" /> </div>
           <h3>Acid-O-Matic</h3>
            <p class="small"><span>Categoria:<br />
              <a href="#">Experimental</a></span></p>
            <p class="small"><span>Revelados<br />
              <a href="#">C-41 (Producido en Panamá)</a><br />
	      <a href="#">ECN-2 (Producido en Argentina)</a><br /></span></p>
            <p class="small"><span>ASA/ISO<br />
              <a href="#">50 ASA</a></span></p>
	    <p class="small"><span>Exposiciones<br />
              <a href="#">24 Exposiciones</a><br /></span></p>
	    <p class="small"><span>Uso recomendable:<br />
              <a href="#">Exteriores</a></span></p>
          </div>
          <div class="column2">
	    <h3>Datos Técnicos</h3>
            <p>Este rollo ALFRED ACID-O-MATIC contiene un negativo color vencido de baja sensibilidad, bajo grano y una lluvia cromática psicodélica. Nuestro ALFRED ACID-O-MATIC es un rollo cuidadosamente pre-expuesto con colores para proporcionarle al usuario resultados inesperados. En sus manos está nuestro producto más artesanal, delirante e impredecible.</p>
            <p>Azul, amarillo, verde, magenta y lavanda son algunos de los colores que intervienen este rollo, Al momento de tomar una foto, usted estará exponiendo sobre un color aleatorio, por lo que no sabrá el resultado final hasta revelarlo.</p>
	    <p>Este es un rollo experimental. Tómelo como es, déjelo ser libre y trate de imaginar ese momento a través del visor de su cámara con una explosión de color encima. Si las energías cósmicas de nuestro taller se alinean con el momento que está capturando, ALFRED ACID-O-MATIC no lo defraudará.</p>
	    <p>Idealmente, el rollo contaría con veinticuatro exposiciones, pero este factor puede variar entre 22 y 26 debido a su ensamblaje manual, hecho con material virgen de primera calidad y chasis reciclados.</p>
	    <p>Para exponer este rollo correctamente le recomendamos usar un fotómetro. Si su cámara no cuenta con uno y no tiene acceso a uno de mano, puede exponer su rollo tomando las siguientes recomendaciones:


	    <h3>Sugerencias de Exposición</h3>
	    <p>Nuestra intervención baña con colores las bajas luces, por lo que recomendamos exponer buscando situaciones que tengan un buen contraste entre sombras y altas luces. Tenga en cuenta que si no expone este rollo de baja sensibilidad con suficiente luz, la intervención cromática predominará por sobre lo expuesto.</p>

	<h3>Sugerencias de Revelado</h3>
	<p>La intervención de este rollo no varía el proceso de revelado. Lleve este rollo a su laboratorio de confianza o revélelo usted mismo siempre y cuando aplique el proceso C-41.</p>
           
          </div> 
          <div class="clear"></div>
          <div class="borderline"></div>
          <div class="borderline second"></div>
          <div class="borderline second"></div>
          <div class="borderline second"></div>
          <p class="small alignright">Compartir: &nbsp;&nbsp; 
            <a href="#" target="_blank" id="tw" title="">Twitter</a> &nbsp;&middot;&nbsp;
            <a href="#" target="_blank" id="fb" title="">Facebook</a> &nbsp;&middot;&nbsp;
            <a href="#" target="_blank" id="gp" title="">Google Plus</a>
          </p>
          <div class="clear"></div>
        </div>
      </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/acid_hq1.jpg" data-title="Fotografía Acid-O-Matic" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Amigas</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_th1.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/acid_hq2.jpg" data-title="Fotografía Acid-O-Matic" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons video"></div>
              <div class="info-wrapper">
                <h4>Edificios</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_th2.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/acid_hq3.jpg" data-title="Fotografía Acid-O-Matic" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons camera"></div>
              <div class="info-wrapper">
                <h4>Parque</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_th3.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->


{% endblock %}
{% block scripts %}
<script src="{% static '/static/js/share.js' %}"></script>
{% endblock %}

