seo_title: Acid-O-Matic -
seo_description: Este rollo ALFRED ACID-O-MATIC contiene un negativo color vencido de baja sensibilidad, bajo grano y una lluvia cromática psicodélica. 
title:
subtitle:
bg_class: no-header-image acid
logo: logoacid
nav_color: navacid
loader: true
footer: footeracid
{% extends "base.html" %}

{% block body %}


<div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <section class="element  clearfix col3-3 auto home">
        <div class="flexslider">
          <div class="images">
            <ul class="slides">
              <li><img src="/static/images/alfred_acid4.jpg" alt="" />
                <div class="caption">
                  <p class="big">1 <span>of</span> 3</p>
                </div>
              </li>
              <li><img src="/static/images/alfred_acid2.jpg" alt="" />
                <div class="caption">
                  <p class="big">2 <span>of</span> 3</p>
                </div>
              </li>
		<li><img src="/static/images/alfred_acid3.jpg" alt="" />
                <div class="caption">
                  <p class="big">3 <span>of</span> 3</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col3-3 white-bottom auto">
          <div class="clear"></div>
          <div class="column1">
	<div class="images">
           <img src="/static/images/acidomatic_logo.png" alt="Alfred Rollos | Acid-O-Matic" /> </div>
	<div class="images">
           <img src="/static/images/stickers_acid.svg" alt="Alfred Rollos | Acid-O-Matic" /> </div>
            <br>
            <p class="small"><span>Categoria:</span><br />
              Experimental
            </p>
            <p class="small"><span>Revelados</span><br />
              C-41 (Producido en Panamá)<br />
	          ECN-2 (Producido en Argentina)<br /></span>
            </p>
            <p class="small">
                <span>ASA/ISO</span>
                <br />
                50 ASA
            </p>
	        <p class="small"><span>Exposiciones</span><br />
              24 Exposiciones
              <br />
            </p>
	        <p class="small">
               <span>Uso recomendable:</span><br />
               Exteriores
            </p>
          </div>
          <div class="column2">
	    <h3>Datos Técnicos</h3>
            <p>Este rollo ALFRED ACID-O-MATIC contiene un negativo color vencido de baja sensibilidad, bajo grano y una lluvia cromática psicodélica. Nuestro ALFRED ACID-O-MATIC es un rollo cuidadosamente pre-expuesto con colores para proporcionarle al usuario resultados inesperados. En sus manos está nuestro producto más artesanal, delirante e impredecible.</p>
            <p>Azul, amarillo, verde, magenta y lavanda son algunos de los colores que intervienen este rollo, Al momento de tomar una foto, usted estará exponiendo sobre un color aleatorio, por lo que no sabrá el resultado final hasta revelarlo.</p>
            <p>Este es un rollo experimental. Tómelo como es, déjelo ser libre y trate de imaginar ese momento a través del visor de su cámara con una explosión de color encima. Si las energías cósmicas de nuestro taller se alinean con el momento que está capturando, ALFRED ACID-O-MATIC no lo defraudará.</p>
            <p>Idealmente, el rollo contaría con veinticuatro exposiciones, pero este factor puede variar entre 22 y 26 debido a su ensamblaje manual, hecho con material virgen de primera calidad y chasis reciclados.</p>
            <p>Para exponer este rollo correctamente le recomendamos usar un fotómetro. Si su cámara no cuenta con uno y no tiene acceso a uno de mano, puede exponer su rollo tomando las siguientes recomendaciones:


            <h3>Sugerencias de Exposición</h3>
            <p>Nuestra intervención baña con colores las bajas luces, por lo que recomendamos exponer buscando situaciones que tengan un buen contraste entre sombras y altas luces. Tenga en cuenta que si no expone este rollo de baja sensibilidad con suficiente luz, la intervención cromática predominará por sobre lo expuesto.</p>

            <h3>Sugerencias de Revelado</h3>
            <h5>Producido en Panamá</h5>
            <p>La intervención de este rollo no varía el proceso de revelado. Lleve este rollo a su laboratorio de confianza o revélelo usted mismo siempre y cuando aplique el proceso C-41</p>
            <h5>Producido en Argentina</h5>
            <p>La materia prima con la que está fabricado el rollo es película de cine. A diferencia de la película fotográfica convencional, contiene una capa antihalo o Remjet que debe ser removida al momento de revelar.</p>
            
            <h3>ECN-2 / Revelado de Cine</h3>
            <p>El revelado color llamado ECN-2 incluye la remoción de la capa antihalo en su proceso. Este tipo de revelado se consigue casi exclusivamente en laboratorios de cine que trabajan con millones de metros de película al año. Desafortunadamente, no los hay en todos los países y no siempre se prestan a revelar los casi dos metros de emulsión que contiene un rollo. Sin embargo, existen laboratorios que ofrecen revelarlos por una suma generalmente menor al revelado común C-41.</p> 
              
            <h3>C-41 / Revelado Artesanal</h3>
            <p>Debido a que a veces resulta imposible realizar el proceso ECN-2, se han buscado alternativas caseras para revelar estos rollos con químicos convencionales.</p> 
            <p><b>ATENCIÓN: </b>Si trata de revelar un rollo de cine con proceso C-41 sin remover la capa antihalo/Remjet ensuciará sus químicos y tendra que desecharlos.</p>
            <p>Necesitará:</p>
            <ul id="rollos">
            <li>Agua Caliente</li>
            <li>Tanque de revelado</li>
            <li>Bicarbonato de sodio</li>
            <li>Botella de 1 litro</li>
            <li>Químicos de revelado C-41</li>
            <li>Kodak Photo-flo (opcional)</li>
            <li>Chamois sintético o esponja suave</li>
            <li>Un rollo ALFRED ACID-o-MATIC expuesto correctamente</li>
            </ul>
            <p>Para remover la capa antihalo/Remjet de manera casera siga los siguientes pasos (A oscuras):</p>
            <ol>
            <li><p>Mezcle 1 cucharada de bicarbonato de sodio con un litro de agua caliente (35&deg;C a 40&deg;C) en la botella. Revuélvalo bien y viértalo en el tanque de revelado con la película dentro del carrete. Agite bruscamente durante 1 1/2 minutos. Cuando vierta el agua notará puntos rosados/rojos o un tinte negro, dependiendo de la emulsión que use. Continúe este proceso de agua caliente y bicarbonato de sodio hasta que el agua salga limpia.</p></li>
            <li><p>Una vez removida la capa antihalo/Remjet, necesitará limpiar su emulsión del bicarbonato de sodio. Llene 3/4 tanque con agua tibia o caliente, agite brevemente y deseche el agua.</p></li>
            <li><p>Siga con el proceso C-41 habitual.</p></li>
            <li><p>Cuando sea el momento de usar el estabilizador, recomendamos agregar 5 ml de Kodak Photo-flo para evitar suciedad y rayas al momento de manipular el negativo. Verter la mezcla en el tanque de revelado y agitar por 15 segundos. Dejar que el negativo descanse en la mezcla por un minutos.</li>
            <li><p>Abre el tanque de revelado, retire el carrete que contiene el negativo sin descartar el estabilizador y saque el negativo del carrete. Sumerja un Chamois sintético en el estabilizador. Luego, envuelva el negativo con el Chamois, recorriendo la longitud del mismo y limpiando los restos de capa antihalo/Remjet restantes. Trate el negativo con cuidado para evitar estropear o rallar la emulsión.</p>
    <p>Asegúrese de haber removido en su totalidad la capa antihalo/Remjet de toda la superficie. Devuelva el negativo al Estabilizador por unos instantes. Lave el Chamois con agua caliente y luego, usando el lado limpio, envuelva el negativo nuevamente para secarlos de manera pareja y evitar manchas.</p></li>
            <li><p>Seque por dos horas antes de escanear o ampliar el negativo.</p></li>
            </ol>
          </div> 
          <div class="clear"></div>
          <div class="borderline"></div>
          <div class="borderline second"></div>
          <div class="borderline second"></div>
          <div class="borderline second"></div>
          <p class="small alignright">Compartir: &nbsp;&nbsp; 
            <a href="#" target="_blank" id="tw" title="">Twitter</a> &nbsp;&middot;&nbsp;
            <a href="#" target="_blank" id="fb" title="">Facebook</a> &nbsp;&middot;&nbsp;
            <a href="#" target="_blank" id="gp" title="">Google Plus</a>
          </p>
          <div class="clear"></div>
        </div>
      </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/acid_hq1.jpg" data-title="Fotografía Acid-O-Matic" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Amigas</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_th1.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/acid_hq2.jpg" data-title="Fotografía Acid-O-Matic" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons video"></div>
              <div class="info-wrapper">
                <h4>Edificios</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_th2.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/acid_hq3.jpg" data-title="Fotografía Acid-O-Matic" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons camera"></div>
              <div class="info-wrapper">
                <h4>Parque</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_th3.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->


{% endblock %}
{% block scripts %}
<script src="{% static '/static/js/share.js' %}"></script>
{% endblock %}

