{% extends "base.html" %}

{% block body %}
<body class="no-header-image">
<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <div class="parent">
      <div class="child">
        <p class="small">loading</p>
      </div>
    </div>
  </div>
</div>
<header class="clearfix">
 
  
  <h1 id="logo"> <a href="{% url '/index.html' %}">Alfred</a> </h1> 
  

  <div id="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
  <nav>
    <ul id="nav">
      <li><a href="{% url '/index.html' %}" class="active">Inicio</a> </li>
      <li><a href="#">Productos</a>
        <ul>
          <li><a href="{% url '/cine.html' %}" class="last">Cine</a></li>
          <li><a href="{% url '/acidomatic.html' %}" class="last">Acid-O-Matic</a></li>
	  <li><a href="{% url '/blancoynegro.html' %}" class="last">Blanco y Negro</a></li>
	  <li><a href="{% url '/reserva.htm' %}l" class="last">Reserva</a></li>
        </ul>
      </li>
      <li><a href="{% url '/historia.html' %}">Historia</a> </li>
      <li><a href="{% url '/contacto.html' %}">Contacto</a> </li>
    </ul>
  </nav>
</header>
<!-- end header -->

<div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <section class="element  clearfix col3-3 auto home">
        <div class="flexslider">
          <div class="images">
            <ul class="slides">
              <li><img src="/static/images/alfred_blancoynegro2.jpg" alt="" />
                <div class="caption">
                  <p class="big">1 <span>of</span> 2</p>
                </div>
              </li>
              <li><img src="/static/images/alfred_blancoynegro3.jpg" alt="" />
                <div class="caption">
                  <p class="big">2 <span>of</span> 2</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col3-3 white-bottom auto">
          <div class="clear"></div>
          <div class="column1">
            <h3>Blanco & Negro 200</h3>
            <p class="small"><span>Category:<br />
              <a href="#">Photography</a></span></p>
            <p class="small"><span>Date:<br />
              <a href="#">July 2014</a></span></p>
            <p class="small"><span>Client:<br />
              <a href="#">Apple Inc.</a></span></p>
          </div>
          <div class="column2">
	    <h3>Datos Técnicos</h3>
            <p>Este rollo ALFRED Blanco & Negro 200 contiene una emulsión pancromática de mediana sensibilidad, bajo grano y excelente nitidez. Idealmente, el rollo contaría con cuarenta exposiciones pero este factor puede variar entre 38 y 42 debido a su ensamblaje manual, hecho con material virgen de primera calidad y chasis reciclados. Alrededor de la exposición 38, correr la película con cuidado hasta sentir un tope. NO FORZAR.</p>
            <p>Para exponer este correctamente le recomendamos usar un fotómetro. Si su cámara no cuenta con uno y no tiene acceso a uno de mano, puede exponer su rollo tomando las siguientes recomendaciones:</p>


	    <h3>Sugerencias de Exposición</h3>
	    <p>Para ocasiones donde el motivo esta siendo iluminado frontalmente, utilizar entre 1/100 a 1/125 de velocidad de obturación y colocar la siguiente apertura de diafragma:</p>
</br>

		<table id="rollos">
		  <tr>
		    <td>Playa con mucho sol</td>
		    <td>F/22</td>
		  </tr>
		  <tr>
		    <td>Día con sol</td>
		    <td>F/16</td> 
		  </tr>
		<tr>
		    <td>Día parcialmente nublado</td>
		    <td>F/11</td> 
		  </tr>
		<tr>
		    <td>Día nublado</td>
		    <td>F/8</td> 
		  </tr>
		<tr>
		    <td>Sombra</td>
		    <td>F/5.6</td> 
		  </tr>
		</table>


		<h3>Sugerencias de revelado</h3>
			    <p>Debido a que este rollo contiene más fotogramas que uno convencional a veces se dificulta introducir su totalidad en el carrete de revelado. Si esto sucede corte la tira inicial (3 a 4 exposiciones de largo) ya que ese pedazo fue velado al ser cargado en cámara.</p>
		</br>

		<table id="rollos">
		  <tr>
		    <th colspan="3" id="table"><h3>Revelado Manual B&N</h3></th>
		  </tr>
		  <tr>
		    <th><b>Paso de Revelado</b></th>
		    <th><b>Temperatura</b></th> 
		    <th><b>Tiempo</b></th>
		  </tr>
		<tr>
		    <td>Revelador D-76</td>
		    <td>21&deg; +- 0.3&deg;C</td> 
		    <td>Aprox. 7 min.</td>
		  </tr>
		<tr>
		    <td>Detenedor</td>
		    <td>21&deg; +- 1&deg;C</td> 
		    <td>50 seg.</td> 
		  </tr>
		<tr>
		    <td>Fijador</td>
		    <td>21&deg; +- 1&deg;C</td> 
		    <td>11 min.</td> 
		  </tr>
		<tr>
		    <td>Lavado</td>
		    <td>21&deg; +- 1&deg;C</td> 
		    <td>10 min.</td> 
		  </tr>
		<tr>
		    <td>Secado0</td>
		    <td>35&deg;C</td> 
		    <td>------</td> 
		  </tr>
		</table>
           
          </div> 
          <div class="clear"></div>
          <div class="borderline"></div>
          <div class="borderline second"></div>
          <p class="small alignleft"><a href="#" data-title="">Visit Website <span class="arrow">→</span></a></p>
          <p class="small alignright">Share: &nbsp;&nbsp; <a href="#" title="">Twitter</a> &nbsp;&middot;&nbsp; <a href="#" title="">Facebook</a> &nbsp;&middot;&nbsp; <a href="#" title="">Behance</a> &nbsp;&middot;&nbsp; <a href="#" title="">Pinterest</a></p>
          <div class="clear"></div>
        </div>
      </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/pic08.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Hipster Set</h4>
                <p class="small">Photography</p>
              </div>
            </div>
          </div>
          <img src="/static/images/pic08-th.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home video"> <a href="http://www.youtube.com/embed/oWYp1xRPH5g" class="video-popup" data-title="Project Title Here">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons video"></div>
              <div class="info-wrapper">
                <h4>Married Couple</h4>
                <p class="small">Youtube</p>
              </div>
            </div>
          </div>
          <img src="/static/images/pic10-th.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/pic07.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons camera"></div>
              <div class="info-wrapper">
                <h4>Woman Waiting</h4>
                <p class="small">Photography</p>
              </div>
            </div>
          </div>
          <img src="/static/images/pic07-th.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->


{% endblock %}
