seo_title:
seo_description: Fabricamos rollos de fotografía a mano como una manera de combatir esa adicción a la inmediatez hija de nuestra era. Tómese su tiempo, disfrute el arte de capturar una imagen y esperar a que ésta se revele.
title: Rollos 35mm Hechos a mano
subtitle: – ALFRED Ofrece una experiencia única para el nostálgico analógico. –
bg_class: 
logo: logo
overlay: true
{% extends "base.html" %}

{% block body %}

<div id="content">
  <div class="container">
      <div class="clear"></div>
              <div class="borderline2"></div>
              <div class="borderline2 second"></div>
              <div class="borderline2 second"></div>
              <div class="borderline2 second"></div>
        <br/>

        <h2>Nuestros Rollos</h2>
        </br>
    <div id="container" class="clearfix">
        

<!-- Cine -->


     <section class="element  clearfix col1-3 home">
         <a href="{% url '/cine.html' %}" data-title="Alfred Rollos - Cine " data-fancybox-group="group2">
            <div class="images">
                <img src="/static/images/stickers_cine.svg" alt="Alfred Rollos - Cine" position="absolute" /> 
             </div>
            <h4 class="alfred-link">Alfred Cine</h4>
        </a>
      </section>




    <section class="element  clearfix col2-3 home">
        <a href="{% url '/cine.html' %}" data-title="Project Title Here" data-fancybox-group="group2" class="popup">
            <div class="images">
              <div class="parent">
                <div class="child">
                  <div class="icons drawing"></div>
                  <div class="info-wrapper">
                    <h4>Emulsiones cinematográficas color</h4>
                    <p class="small">Profesional</p>
                  </div>
                </div>
              </div>
              <img src="/static/images/cine_landing.jpg" alt="Alfred Rollos - Cine" />
            </div>
            <div class="overlay"></div>
        </a> 
      </section>




<!-- Acid-O-Matic -->

    <section class="element  clearfix col2-3 home"> 
        <a href="{% url '/acidomatic.html' %}" data-title="Alfred Rollos - Acid-O-Matic" data-fancybox-group="group2" class="popup">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons drawing"></div>
              <div class="info-wrapper">
                <h4>Emulsión pre-expuesta con una lluvia cromática psicodélica</h4>
                <p class="small">Experimental</p>
              </div>
            </div>
          </div>
          <img src="/static/images/acid_landing.jpg" alt="" /> </div>
        <div class="overlay"></div>
        </a> 
      </section>


      <section class="element  clearfix col1-3 home">
          <a href="{% url '/acidomatic.html' %}" data-title="Acid-O-Matic" data-fancybox-group="group2" class="popup">
            <div class="images">
              <img src="/static/images/stickers_acid.svg" alt="Alfred Rollos - Acid-O-Matic" />
            </div>
            <h4 class="alfred-link">Alfred Acid-o-Matic</h4>
        </a> 
      </section>





<!-- Blanco y Negro -->

    <section class="element  clearfix col1-3 home">
        <a href="{% url '/blancoynegro.html' %}" data-title="Blanco y Negro" data-fancybox-group="group2" class="popup">
            <div class="images">

              <img src="/static/images/stickers_blancoynegro.svg" alt="Alfred Rollos - Blanco y Negro" />
            </div>
            <h4 class="alfred-link">Alfred Blanco y Negro</h4>
        </a>
    </section>


   <section class="element  clearfix col2-3 home">
       <a href="{% url '/blancoynegro.html' %}" data-title="Blanco y Negro" data-fancybox-group="group2" class="popup">
            <div class="images">
              <div class="parent">
                <div class="child">
                  <div class="icons drawing"></div>
                  <div class="info-wrapper">
                    <h4>Emulsión pancromática de mediana sensibilidad</h4>
                    <p class="small">Profesional</p>
                  </div>
                </div>
              </div>
              <img src="/static/images/byn_landing.jpg" alt="Alfred Rollos - Blanco y Negro" /> 
            </div>
            <div class="overlay"></div>
        </a> 
    </section>



<!-- Reserva -->


   <section class="element  clearfix col2-3 home">
       <a href="{% url '/reserva.html' %}" data-title="Alfred Rollos - Reserva" data-fancybox-group="group2" class="popup">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons drawing"></div>
              <div class="info-wrapper">
                <h4>Emulsiónes vencidas de cantidades limitadas</h4>
                <p class="small">Experimental</p>
              </div>
            </div>
          </div>
          <img src="/static/images/reserva_landing.jpg" alt="Alfred Rollos - Reserva" />
        </div>
        <div class="overlay"></div>
        </a> 
    </section>

    <section class="element  clearfix col1-3 home"> 
        <a href="{% url '/reserva.html' %}" data-title="Reserva" data-fancybox-group="group2" class="popup">
            <div class="images">
         
                <img src="/static/images/stickers_reserva.svg" alt="Alfred Rollos - Reserva" /> 
            </div>
            <h4 class="alfred-link">Alfred Reserva</h4>
        </a> 
    </section>



    </div>
  </div>
  <!-- end container -->
</div>

{% endblock %}
