{% extends "base.html" %}

{% block body %}

div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <section class="element  clearfix col3-3 auto home">
        <div class="flexslider">
          <div class="images">
            <ul class="slides">
              <li><img src="images/slider01.jpg" alt="" />
                <div class="caption">
                  <p class="big">1 <span>of</span> 2</p>
                </div>
              </li>
              <li><img src="images/slider02.jpg" alt="" />
                <div class="caption">
                  <p class="big">2 <span>of</span> 2</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col3-3 white-bottom auto">
          <div class="clear"></div>
          <div class="column1">
            <h3>Hipster Project</h3>
            <p class="small"><span>Category:<br />
              <a href="#">Photography</a></span></p>
            <p class="small"><span>Date:<br />
              <a href="#">July 2014</a></span></p>
            <p class="small"><span>Client:<br />
              <a href="#">Apple Inc.</a></span></p>
          </div>
          <div class="column2">
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.  These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. </p>
            <p>It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense. Why, you can't even read it!  It is strictly for mock-ups. You may mock it up as strictly as you wish.</p>
            <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Vivamus gravida aliquet eros.</p>
          </div>
          <div class="clear"></div>
          <div class="borderline"></div>
          <div class="borderline second"></div>
          <p class="small alignleft"><a href="#" data-title="">Visit Website <span class="arrow">→</span></a></p>
          <p class="small alignright">Share: &nbsp;&nbsp; <a href="#" title="">Twitter</a> &nbsp;&middot;&nbsp; <a href="#" title="">Facebook</a> &nbsp;&middot;&nbsp; <a href="#" title="">Behance</a> &nbsp;&middot;&nbsp; <a href="#" title="">Pinterest</a></p>
          <div class="clear"></div>
        </div>
      </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="images/pic08.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Hipster Set</h4>
                <p class="small">Photography</p>
              </div>
            </div>
          </div>
          <img src="images/pic08-th.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home video"> <a href="http://www.youtube.com/embed/oWYp1xRPH5g" class="video-popup" data-title="Project Title Here">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons video"></div>
              <div class="info-wrapper">
                <h4>Married Couple</h4>
                <p class="small">Youtube</p>
              </div>
            </div>
          </div>
          <img src="images/pic10-th.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="images/pic07.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons camera"></div>
              <div class="info-wrapper">
                <h4>Woman Waiting</h4>
                <p class="small">Photography</p>
              </div>
            </div>
          </div>
          <img src="images/pic07-th.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->


{% endblock %}
