{% extends "base.html" %}

{% block body %}
<body class="no-header-image reserva">
<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <div class="parent">
      <div class="child">
        <p class="small">loading</p>
      </div>
    </div>
  </div>
</div>
<header class="clearfix">
 
  
  <h1 id="logoreserva"> <a href="{% url '/index.html' %}">Alfred</a> </h1> 
  

  <div id="nav-button"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
  <nav>
    <ul id="nav">
	<ul id="navreserva">
      <li><a href="{% url '/index.html' %}" class="active">Inicio</a> </li>
      <li><a href="#">Productos</a>
        <ul>
          <li><a href="{% url '/cine.html' %}" class="last">Cine</a></li>
          <li><a href="{% url '/acidomatic.html' %}" class="last">Acid-O-Matic</a></li>
	  <li><a href="{% url '/blancoynegro.html' %}" class="last">Blanco & Negro</a></li>
	  <li><a href="{% url '/reserva.html' %}" class="last">Reserva</a></li>
        </ul>
      </li>
      <li><a href="{% url '/historia.html' %}">Historia</a> </li>
      <li><a href="{% url '/contacto.html' %}">Contacto</a> </li>
    </ul>
   </ul>
  </nav>
</header>
<!-- end header -->

<div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <section class="element  clearfix col3-3 auto home">
        <div class="flexslider">
          <div class="images">
            <ul class="slides">
              <li><img src="/static/images/alfred_reserva4.jpg" alt="" />
                <div class="caption">
                  <p class="big">1 <span>of</span> 3</p>
                </div>
              </li>
              <li><img src="/static/images/alfred_reserva2.jpg" alt="" />
                <div class="caption">
                  <p class="big">2 <span>of</span> 3</p>
                </div>
              </li>
		<li><img src="/static/images/alfred_reserva3.jpg" alt="" />
                <div class="caption">
                  <p class="big">3 <span>of</span> 3</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col3-3 white-bottom auto">
          <div class="clear"></div>
          <div class="column1">
	<div class="images">
           <img src="/static/images/reserva_logo.svg" alt="" /> </div>
	<div class="images">
           <img src="/static/images/stickers_reserva.svg" alt="" /> </div>
           <h3>Reserva</h3>
            <p class="small"><span>Categoria:
              <p>Experimental</p></span></p>
            <p class="small"><span>Revelados
              <p>ECN-2 / C-41 (Ver detalle en caja)</p></span></p>
            <p class="small"><span>ASA/ISO
              <p>(Ver detalle en caja)</p></span></p>
	    <p class="small"><span>Exposiciones
              <p>40 Exposiciones</p></span></p>
	    <p class="small"><span>Uso recomendable:
              <p>Dependiendo de la emulsión. Día / Tungsteno</p></span></p>
          </div>
          <div class="column2">
	    <h3>Datos Técnicos</h3>
            <p>Este rollo ALFRED Reserva contiene una emulsión vencida especificada en su etiqueta y producida en cantidades limitades. Buscamos lotes de película vencida alrededor del mundo y los enrollamos para rescatar emulsiones de distintas épocas, producidas bajo distintos estándares y percepciones de la fotografía analógica. ALFRED Reserva es nuestro esfuerzo por salvar el fruto de marcas algunas vez grandiosas que han producido incontables versiones de la emulsión fílmica y que con los años han entrado en decadencia, reduciendo su stock y variedad de película.</p>
	<p>Idealmente, el rollo contaría con cuarenta exposiciones, pero este factor puede variar entre 38 y 42 debido a su ensamblaje manual, hecho con material virgen de primera calidad y chasis reciclados. Alrededor de la exposición 38, correr la película con cuidado hasta sentir un tope. NO FORZAR.</p>
       
	    <h3>Sugerencias de Exposición</h3>
	    <p>Para exponer este rollo correctamente le recomendamos usar un fotómetro tomando en cuenta las siguientes consideraciones:</p>
	    <p>Los rollos vencidos tienden a tener el talón de la curva sensitométrica gastado. La resuesta en las bajas luces disminuye con los años de vencido y reduce la latitud de la película. Para obtener mejores resultados, se recomienda sobre-exponer de 2 a 3 stops de la sensibilidad nativa del rollo y así aprovechar las densidades de la emulsión que han sido menos deterioradas con los años. Un rollo vencido hace poco años tendrá una menor sobre-exposición (Ej: ASA 400, exponer como ASA 100 = 2 stops) mientras que las emulsiones con 15 años o más de vencimiento se recomienda sobre-exponer 3 stops (Ej: ASA 400 exponer como 50 ASA = 3 stops).</p>
	    <p>Para evitar cálculos de diafragma al momento de tomar la fotografía, recomendamos ajustar su cámara al ASA final con la sobreexposición calculada. Ejemplo ASA 400 +2 stops = Colocar en cámara 100ASA.</p>



		<h3>Sugerencias de Revelado</h3>
		<p>La materia prima con la que está fabricado el rollo es película de cine. A diferencia de la película fotográfica convencional, contiene una capa antihalo o Remjet que debe ser removida al momento de revelar.</p>
		<p>Si tiene la posibilidad, recomendamos sub-revelar 1 stop para reducir el contraste de la película, aprovechando al máximo las porciones altas de la curva sensitométrica, menos afectadas por el vencimiento.</p>
		<h5>ECN-2 / Revelado de Cine</h5>
		<p>El revelado color llamado ECN-2 incluye la remoción de la capa antihalo en su proceso. Este tipo de revelado se consigue casi exclusivamente en laboratorios de cine que trabajan con millones de metros de película al año. Desafortunadamente, no los hay en todos los países y no siempre se prestan a revelar los casi dos metros de emulsión que contiene un rollo. Sin embargo, existen laboratorios que ofrecen revelarlos por una suma generalmente menor al revelado común C-41.</p>
		<h5>C-41 / Revelado Artesanal</h5>
		<p>Debido a que a veces resulta imposible realizar el proceso ECN-2, se han buscado alternativas caseras para revelar estos rollos con químicos convencionales.</p>
		<p><b>ATENCIÓN: </b>Si trata de revelar un rollo de cine con proceso C-41 sin remover la capa antihalo/Remjet ensuciará sus químicos y tendra que desecharlos.</p>
		<p>Necesitará:</p>
		<ul id="rollos">
		<li>Agua Caliente</li>
		<li>Tanque de revelado</li>
		<li>Bicarbonato de sodio</li>
		<li>Botella de 1 litro</li>
		<li>Químicos de revelado C-41</li>
		<li>Kodak Photo-flo (opcional)</li>
		<li>Chamois sintético o esponja suave</li>
		<li>Un rollo ALFRED Reserva ECN-2 expuesto correctamente</li>
		</ul>

		<p>Para remover la capa antihalo/Remjet de manera casera siga los siguientes pasos (A oscuras):</p>
		<ol>
		<li><p>Mezcle 1 cucharada de bicarbonato de sodio con un litro de agua caliente (35&deg;C a 40&deg;C) en la botella. Revuélvalo bien y viértalo en el tanque de revelado con la película dentro del carrete. Agite bruscamente durante 1 1/2 minutos. Cuando vierta el agua notará puntos rosados/rojos o un tinte negro, dependiendo de la emulsión que use. Continúe este proceso de agua caliente y bicarbonato de sodio hasta que el agua salga limpia.</p></li>
		<li><p>Una vez removida la capa antihalo/Remjet, necesitará limpiar su emulsión del bicarbonato de sodio. Llene 3/4 tanque con agua tibia o caliente, agite brevemente y deseche el agua.</p></li>
		<li><p>Siga con el proceso C-41 habitual.</p></li>
		<li><p>Cuando sea el momento de usar el estabilizador, recomendamos agregar 5 ml de Kodak Photo-flo para evitar suciedad y rayas al momento de manipular el negativo. Verter la mezcla en el tanque de revelado y agitar por 15 segundos. Dejar que el negativo descanse en la mezcla por un minutos.</li>
		<li><p>Abre el tanque de revelado, retire el carrete que contiene el negativo sin descartar el estabilizador y saque el negativo del carrete. Sumerja un Chamois sintético en el estabilizador. Luego, envuelva el negativo con el Chamois, recorriendo la longitud del mismo y limpiando los restos de capa antihalo/Remjet restantes. Trate el negativo con cuidado para evitar estropear o rallar la emulsión.</p>
<p>Asegúrese de haber removido en su totalidad la capa antihalo/Remjet de toda la superficie. Devuelva el negativo al Estabilizador por unos instantes. Lave el Chamois con agua caliente y luego, usando el lado limpio, envuelva el negativo nuevamente para secarlos de manera pareja y evitar manchas.</p></li>
		<li><p>Seque por dos horas antes de escanear o ampliar el negativo.</p></li>
		</ol>
		
           
          </div> 
          <div class="clear"></div>
          <div class="borderline"></div>
          <div class="borderline second"></div>
	  <div class="borderline second"></div>
	  <div class="borderline second"></div>
          <p class="small alignleft"><a href="#" data-title="">Visit Website <span class="arrow">→</span></a></p>
          <p class="small alignright">Share: &nbsp;&nbsp; <a href="#" title="">Twitter</a> &nbsp;&middot;&nbsp; <a href="#" title="">Facebook</a> &nbsp;&middot;&nbsp; <a href="#" title="">Behance</a> &nbsp;&middot;&nbsp; <a href="#" title="">Pinterest</a></p>
          <div class="clear"></div>
        </div>
      </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/reserva_hq1.jpg" data-title="Fotografía Reserva" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Planificación</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/reserva_th1.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/reserva_hq2.jpg" data-title="Fotografía Reserva" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Gasolinera</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/reserva_th2.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
      <section class="element  clearfix col1-3 half home photography"> <a href="/static/images/byn_hq3.jpg" data-title="Fotografía Reserva" data-fancybox-group="group1" class="popup" target="_blank">
        <div class="images">
          <div class="parent">
            <div class="child">
              <div class="icons zoom"></div>
              <div class="info-wrapper">
                <h4>Mujer</h4>
                <p class="small">Fotografía</p>
              </div>
            </div>
          </div>
          <img src="/static/images/reserva_th3.jpg" alt="" />
          <div class="overlay"></div>
        </div>
        </a> </section>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->

<footer>
<footerreserva>
  <div class="container">
    <ul class="social reserva clearfix">
      <li><a href="#" onClick="return false" class="facebookreserva">Visit our Facebook Account</a></li>
      <li><a href="#" onClick="return false" class="instagramreserva">Visit our Instagram Account</a></li>
      <li><a href="#" onClick="return false" class="twitterreserva">Visit our Twitter Account</a></li>
      
    </ul>
    <p>Paitilla, Ciudad de Panamá</p>
    <p>(845) 123-4567</p>
    <p><a href="mailto:info@domain.com">info@rollosalfred.com</a></p>
    <div class="clear"></div>
    <p><span>© 2016, Alfred. Todos los derechos reservados.</span></p>
  </div>
</footerreserva>
</footer>

{% endblock %}
