/*Custom css Alfred
Creado por BTC*/

a.submit {
    color: #404040;
    text-decoration: blink;
    font-style: italic;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}
#msg {
    height: 105px;font-family: Oswald;
}
.required_field {
    border-color: #fb8585;
    border-style: double;
}
#result_msg {
    font-size: 14px;
    /* display: none; */
}
/* Acid-O-Matic */
.footeracid p {display:inline-block; margin:0 10px; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:2px; font-style:normal; text-transform:uppercase; color:#f05d7a; opacity:0.8 }
.footeracid p a { color:#fcf171; border:0 }

/* Cine */
.footercine p {display:inline-block; margin:0 10px; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:2px; font-style:normal; text-transform:uppercase; color:#000000; opacity:0.8 }
.footercine p a { color:#ec2027; border:0 }

/* Reserva */
.footerreserva p {display:inline-block; margin:0 10px; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:2px; font-style:normal; text-transform:uppercase; color:#ffc708; opacity:0.75; }
.footerreserva p a { color:#ffffff; border:0 }
.footerreserva p a:hover { color:#ffc708; }

/* Acid-O-Matic Icons */
.footeracid .twitter {background:url(../images/bg-twitter_acid.png) center no-repeat; background-size:50px 51px; } 
.footeracid .facebook {background:url(../images/bg-facebook_acid.png) center no-repeat; background-size:50px 51px; }
.footeracid .instagram {background:url(../images/bg-instagram_acid.png) center no-repeat; background-size:50px 51px; }

/* Cine Icons */
.footercine .twitter {background:url(../images/bg-twitter_black.png) center no-repeat; background-size:50px 51px; } 
.footercine .facebook {background:url(../images/bg-facebook_black.png) center no-repeat; background-size:50px 51px; }
.footercine .instagram {background:url(../images/bg-instagram_black.png) center no-repeat; background-size:50px 51px; }

/* Reserva Icons */
.footerreserva .twitter {background:url(../images/bg-twitter_reserva.png) center no-repeat; background-size:50px 51px; } 
.footerreserva .facebook {background:url(../images/bg-facebook_reserva.png) center no-repeat; background-size:50px 51px; }
.footerreserva .instagram {background:url(../images/bg-instagram_reserva.png) center no-repeat; background-size:50px 51px; }

.navcine li a { color:#000000!important;}
.navacid li a { color:#f6ea68!important;}
.navreserva li a { color: #ffc708!important;}

h1 a.big {
    width: 170px!important;
    height: 33px!important;
    background-size: cover!important;
}
.cine #nav-button .nav-bar {
    background-color: #1d1d1b;
}
.acid #nav-button .nav-bar {
    background-color: #f3e96c;
}
.reserva #nav-button .nav-bar {
    background-color: #ffc708;
}
#heading .child {display: table-cell;
    /* vertical-align: middle; */
    padding: 100px 50px 0; 
}
a h4.alfred-link {
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all{
  /* Acid-O-Matic Icons */
.footeracid .twitter {background:url(../images/bg-twitter@2x_acid.png) center no-repeat; background-size:50px 51px; } 
.footeracid .facebook {background:url(../images/bg-facebook@2x_acid.png) center no-repeat; background-size:50px 51px; }
.footeracid .instagram {background:url(../images/bg-instagram@2x_acid.png) center no-repeat; background-size:50px 51px; }

/* Cine Icons */
.footercine .twitter {background:url(../images/bg-twitter@2x_black.png) center no-repeat; background-size:50px 51px; } 
.footercine .facebook {background:url(../images/bg-facebook@2x_black.png) center no-repeat; background-size:50px 51px; }
.footercine .instagram {background:url(../images/bg-instagram@2x_black.png) center no-repeat; background-size:50px 51px; }

/* Reserva Icons */
.footerreserva .twitter {background:url(../images/bg-twitter@2x_reserva.png) center no-repeat; background-size:50px 51px; } 
.footerreserva .facebook {background:url(../images/bg-facebook@2x_reserva.png) center no-repeat; background-size:50px 51px; }
.footerreserva .instagram {background:url(../images/bg-instagram@2x_reserva.png) center no-repeat; background-size:50px 51px; }
  
}
