seo_title: Blanco & Negro -
seo_description: Este rollo ALFRED Blanco & Negro 200 contiene una emulsión pancromática de mediana sensibilidad, bajo grano y excelente nitidez. 
title:
subtitle:
bg_class: no-header-image
logo: logo
nav_color:
loader: true
footer:
{% extends "base.html" %}

{% block body %}


<div id="content">
  <div class="container">
    <div id="container" class="clearfix">
      <section class="element  clearfix col3-3 auto home">
        <div class="flexslider">

        </div>
        <div class="col3-3 white-bottom auto">
          <div class="clear"></div>
          <div class="column1">
	<div class="images">
           <img src="/static/images/byn_logo.svg" alt="Alfred Rollos - Blanco y Negro" /> </div>
	<div class="images">
           <img src="/static/images/stickers_blancoynegro.svg" alt="Alfred Rollos - Blanco y Negro" /> </div>
            <br>
            <p class="small"><span>Categoria:</span><br />
              Profesional
            </p>
            <p class="small"><span>Revelado</span><br />
              B&N Manual<br />
            </p>
            <p class="small">
                <span>ASA/ISO</span>
                <br />
                200 ASA
            </p>
	        <p class="small"><span>Exposiciones</span><br />
              40 Exposiciones
              <br />
            </p>
	        <p class="small">
               <span>Uso recomendable:</span><br />
               Interiores / Exteriores
            </p>
          

          </div>
          <div class="column2">
              <h2>ALFRED BLANCO & NEGRO</h2>
              <HR>
	    <h3>Datos Técnicos</h3>
            <p>Este rollo ALFRED Blanco & Negro 200 contiene una emulsión pancromática de mediana sensibilidad, bajo grano y excelente nitidez. Idealmente, el rollo contaría con cuarenta exposiciones pero este factor puede variar entre 38 y 42 debido a su ensamblaje manual, hecho con material virgen de primera calidad y chasis reciclados. Alrededor de la exposición 38, correr la película con cuidado hasta sentir un tope. NO FORZAR.</p>
          


	    <h3>Sugerencias de Exposición</h3>
	  <p>Para exponer este correctamente le recomendamos usar un fotómetro. Si su cámara no cuenta con uno y no tiene acceso a uno de mano, puede exponer su rollo tomando las siguientes recomendaciones:</p>
	    <p>Para ocasiones donde el motivo esta siendo iluminado frontalmente, utilizar entre 1/100 a 1/125 de velocidad de obturación y colocar la siguiente apertura de diafragma:</p>
</br>

		<table id="rollos">
		  <tr>
		    <td>Playa con mucho sol</td>
		    <td>F/22</td>
		  </tr>
		  <tr>
		    <td>Día con sol</td>
		    <td>F/16</td> 
		  </tr>
		<tr>
		    <td>Día parcialmente nublado</td>
		    <td>F/11</td> 
		  </tr>
		<tr>
		    <td>Día nublado</td>
		    <td>F/8</td> 
		  </tr>
		<tr>
		    <td>Sombra</td>
		    <td>F/5.6</td> 
		  </tr>
		</table>


		<h3>Sugerencias de revelado</h3>
			    <p>Debido a que este rollo contiene más fotogramas que uno convencional a veces se dificulta introducir su totalidad en el carrete de revelado. Si esto sucede corte la tira inicial (3 a 4 exposiciones de largo) ya que ese pedazo fue velado al ser cargado en cámara.</p>
		
		<h5>Revelado Manual B&N</h5>
		</br>
		<table id="rollos">
		 <tr>
		    <th><b>Paso de Revelado</b></th>
		    <th><b>Temperatura</b></th> 
		    <th><b>Tiempo</b></th>
		  </tr>
		<tr>
		    <td>Revelador D-76</td>
		    <td>21&deg;C +/- 0.3&deg;C</td> 
		    <td>Aprox. 7 min.</td>
		  </tr>
		<tr>
		    <td>Detenedor</td>
		    <td>21&deg;C +/- 1&deg;C</td> 
		    <td>50 seg.</td> 
		  </tr>
		<tr>
		    <td>Fijador</td>
		    <td>21&deg;C +/- 1&deg;C</td> 
		    <td>11 min.</td> 
		  </tr>
		<tr>
		    <td>Lavado</td>
		    <td>21&deg;C +/- 1&deg;C</td> 
		    <td>10 min.</td> 
		  </tr>
		<tr>
		    <td>Secado</td>
		    <td>35&deg;C</td> 
		    <td>------</td> 
		  </tr>
		</table>
           
          </div> 
        
        <div class="gallery">
            <h3>Galería de Imágenes</h3>
            <br>
            <div class="grid">
                 {% for cine in BN_GALLERY %}
                  <div class="grid-item">
                      <a href="/static/images/rollos/bn/hd/hd_bn_{{ cine }}.jpg" data-title="Alfred Cine - Rollos Fotográficos artesanales" data-fancybox-group="group1" class="popup" target="_blank">
                        <img src="/static/images/rollos/bn/tb_bn_{{ cine }}.jpg" alt="Alfred Cine - Rollos Fotográficos artesanales" class="lazy" />
                      </a>
                  </div>
                {% endfor %}

            </div>

        </div>
          <div class="clear"></div>
          <div class="borderline"></div>
          <div class="borderline second"></div>
	      <div class="borderline second"></div>
          <div class="borderline second"></div>
          <p class="small alignright">Compartir: &nbsp;&nbsp; 
            <a href="#" target="_blank" id="tw" title="">Twitter</a> &nbsp;&middot;&nbsp;
            <a href="#" target="_blank" id="fb" title="">Facebook</a> &nbsp;&middot;&nbsp;
            <a href="#" target="_blank" id="gp" title="">Google Plus</a>
          </p>
          <div class="clear"></div>
        </div>
      </section>
  
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end content -->
{% endblock %}
{% block scripts %}
<script src="{% static '/static/js/share.js' %}"></script>
{% endblock %}

